* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
  min-height: 100%;
	height: 100%;
}

#app {
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

.full-screen {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;   
}

.send-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-basic {
	border: 1px solid black;
	min-width: 40px;
	height: 30px;
	border-radius: 5px;
	padding: 0 10px;
}

.btn-basic:hover {
	cursor: pointer;
}

.btn-highlight {
	background-color: #0067a3;
	color: white;
	border-color: #0067a3;
}

.btn-cancel {
	background-color: white;
	border-color: #808080;
	color: #808080;
}